

<div class="container">
  <button class="btn btn-info" [routerLink]="['/create']" routerLinkActive="$router_link-active$">Create New Company</button>
  <hr>
  <div class="col-md-12">
    <table class="table" *ngIf="companies && companies.length > 0">
      <thead>
      <tr>
        <th>Actions</th>
        <th>Name</th>
        <th>Address</th>
        <th *ngFor="let key of extendedColumns" scope="col">{{key?.key}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let company of companies">
        <td>
          <button [routerLink]="['/update', company.id]" routerLinkActive="$router_link-active$" type="button" style="margin-right: 5px" class="btn btn-primary">Edit</button>
          <button (click)="onDelete(company.id)" type="button" class="btn btn-danger">Delete</button>
        </td>
        <td>{{company.name}}</td>
        <td>{{company.address}}</td>
        <td *ngFor="let value of company?.values">
          {{value?.value}}
        </td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="companies === null || companies.length === 0" class="alert alert-danger" role="alert">
      No data found to display here.
    </div>
  </div>
</div>
