<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="card">
    <div class="card-header">
      <h4>Login</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group mb-4">
          <label for="exampleInputEmail1">User Name</label>
          <input type="email" name="userName" [(ngModel)]="userName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter user name">
        </div>
        <button (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-2"></div>
