<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="card">
    <div class="card-header">
      <h4>Configure Company</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="extendForm">
        <button (click)="onAddNewKey()" type="button" class="btn btn-info">Add Key</button>
        <ng-container formArrayName="keys" *ngFor="let key of getKeysArray().controls; let i = index; let last=last;">
          <div class="form-group mb-4" [formGroupName]="i">
            <label>Key</label>
            <input type="text" formControlName="key"  class="form-control" placeholder="Enter key">
          </div>
        </ng-container>

        <button (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-2"></div>
