<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="card">
    <div class="card-header">
      <h4>{{existingCompanyId > 0 ? 'Update':'Create'}} Company</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="companyForm">
<!--        <button (click)="onAddNewKey()" type="button" class="btn btn-info">Add Key</button>-->
        <div class="form-group mb-4">
          <label>Name</label>
          <input type="text" formControlName="name"  class="form-control" placeholder="Enter company name">
        </div>

        <div class="form-group mb-4">
          <label>Address</label>
          <input type="text" formControlName="address"  class="form-control" placeholder="Enter company address">
        </div>


        <ng-container formArrayName="values" *ngFor="let key of getValuesForm().controls; let i = index; let last=last;">
          <div class="form-group mb-4" [formGroupName]="i">
            <label>{{key.get('key')?.value}}</label>
            <input type="text" formControlName="value"  class="form-control" placeholder="Enter value">
          </div>
        </ng-container>

        <button style="margin-right: 5px;" (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
        <button [routerLink]="['/list']" routerLinkActive="$router_link-active$" type="button" class="btn btn-info">Cancel</button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-2"></div>
