<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Company Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="userId === null || userId === undefined || userId === 0">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="$router_link-active$">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/configure']" routerLinkActive="$router_link-active$">Configure</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list']" routerLinkActive="$router_link-active$">Companies</a>
      </li>
      <li class="nav-item active" *ngIf="userId > 0">
        <a class="nav-link" (click)="onLogout()" routerLinkActive="$router_link-active$">Logout <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
